.ova-gallery-slide {

	.gallery-slide-img {
        position: relative;
        overflow: hidden;
        &:hover {
        	img {
        		transition: all 0.4s ease-out 0s;
        		transform: scale(1.05); 
        	}
        	.info-wrapper {
        		transition: all 0.4s ease-out 0s;
        	}
        }

        .gallery-img {
        	position: relative;
        	overflow: hidden;
        }

        .overlay {
        	display: block;
        	position: absolute;
        	top: 0;
        	left: 0;
        	width: 100%;
        	height: 100%;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(216, 34, 33, 0.1) 100%);
            cursor: pointer;
        }

        img {
        	transition: all 0.4s ease-out 0s;
        	display: block;
        	width: 100%;
        	height: 480px;
        	object-fit: cover;
        	@media (max-width: 1024px) {
        		height: 380px;
        	}
        }

		.info-wrapper {
			transition: all .4s ease; 
			position: absolute;
			bottom: 35px;
			left: 30px;
			width: calc(100% - 60px);
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-direction: row-reverse;
			gap: 20px;
			z-index: 1;
		}

		.info {
			a {
				&:hover {
					.title {
						color: var(--primary);
					}
				}
			}
			.title {
				margin: 7px 0 0 0; 
				font-size: 27px; 
				line-height: 1.2;
				color: #fff; 
			}
			.category {
	            font-size: 15px;
	            font-weight: 500;
	            line-height: 1.2;
				color: #fff; 
			}
		}

		.view-detail {
			-webkit-transition: all 0.4s ease-out 0s;
			transition: all 0.4s ease-out 0s;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			min-width: 54px;
		  	width: 54px;
		  	height: 54px;
		  	border-radius: 50%;
		  	border: 1px solid rgba(255, 255, 255, 0.3);
		  	color: #fff;
		  	i {
		  		-webkit-transition: all 0.4s ease-out 0s;
				transition: all 0.4s ease-out 0s;
		  		display: inline-flex;
		  		font-size: 22px;
		  		transform: rotate(-45deg); 
		  	}
		  	&:hover {
		  		transition: all .3s ease;
		  		background-color: var(--primary);
		  		border: 1px solid var(--primary);
		  	}
		}

	}

	&.template2 {
		.gallery-slide-img {
	        &:hover {
	           .overlay {
					opacity: 1;
	            }
	           	.info-wrapper {
				   bottom: 160px;
				   opacity: 1;
				   visibility: visible;
	            }
	        }

	        .overlay {
	            background: rgb(26, 26, 61, 0.75);
	            opacity: 0;
	            @media (max-width: 767px) {
				    opacity: 1;
				}
	        }

	        .info-wrapper {
	        	flex-direction: column;
	        	text-align: center;
				opacity: 0;
				visibility: hidden;
				@media (max-width: 767px) {
					bottom: 100px;
				    opacity: 1;
				    visibility: visible;
				}
            }

			.info {
				.title {
					font-size: 24px;
					margin-bottom: 10px;
				}
				.category {
				}
			}

		}
	}

	.owl-dots {
		text-align: center;
		margin-top: 50px;
		.owl-dot{
			display: inline-flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			margin: 0 2px;
			width: 21px;
			padding: 0;
			background: transparent;
			border-color: transparent;
			height: 21px;
			span{
				width: 5px;
				height: 5px;
				background: var(--heading);
				display: block;
				border-radius: inherit;
				-webkit-backface-visibility: visible;
				transition: opacity .2s ease;
			}
			&.active{
				border: 1px solid var(--primary);
				span{
					opacity: 1;
					background: var(--primary);
				}
			}
		}
	}
}